  /*
Program name: patient-form.css
Author: Isaiah Louis
Date created: 7/11/2026
Date last edited: 7/11/2026
Version: 4.0
Description: A document to style the new patient form
*/
body {
  background-color: rgb(236, 242, 234);
}
textarea{
  width: 1000px;
}
a{
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
  text-align: center;
}
header {
  background-color: rgb(201, 221, 214);
}
footer {
  background-color: rgb(201, 221, 214);
}
option {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
}
select {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
  text-align: center;
}
table{
  margin-bottom: 10px;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
header {
  position: sticky;
  top: 0;
}
.center {
  width: 1000px;
  margin: auto;
  padding-bottom: 100px;
}
.h1 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
  margin: auto;
}
.h3 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
  text-align: center;
}
.h4 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
  text-align: center;
}
.h6 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
}
.sp1 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
  margin-right: 480px;
}
#sliderrange{
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
  margin-right: 480px;
}
.sp2 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
}
.p1 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
}
.p2 {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
}
input[type=text] {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
}
input[type=password] {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
}
input[type=date] {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
}
input[type=email] {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
}
input[type=tel] {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
}
input[type=submit] {
  border: 2px solid rgb(34, 175, 95);
  border-radius: 8px;
  background-color: rgb(218, 246, 230);
  color: rgb(34, 175, 95);
  font-family: "Lucida Console";
  height: 50px;
  width: 120px;
  margin-right: 50px;
  margin-left: 265px;
}
input[type=reset] {
  border: 2px solid rgb(230, 60, 75);
  border-radius: 8px;
  background-color: rgb(252, 228, 230);
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
  height: 50px;
  width: 120px;
}
#review {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(89, 156, 190);
  font-family: "Lucida Console";
  height: 50px;
  width: 120px;
  margin-right: 50px;
}
input[type=text] {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(78, 135, 71);
  font-family: "Lucida Console";
}
#welcome {
  color: rgb(34, 175, 95);
  font-family: "Lucida Console";
  text-align: center;
}
#newpatient {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(89, 156, 190);
  font-family: "Lucida Console";
  height: 50px;
  width: 120px;
  margin-left: 445px;
}
#show_validate {
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
  color: rgb(89, 156, 190);
  font-family: "Lucida Console";
}
#patient_thoughts {
  font-family: "Lucida Console";
  color: rgb(78, 135, 71);
  border: 2px solid rgb(89, 156, 190);
  border-radius: 8px;
  background-color: rgba(222, 232, 250);
}
#mi{
  width: 15px;
  text-align: center;
  margin-right: 10px;
}
.labels {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
}
#fname{
  width: 150px;
  text-align: center;
  margin-right: 10px;
}
#lname{
  width: 150px;
  text-align: center;
}
#Address_One{
  width: 300px;
  text-align: center;
}
#Address_Two{
  width: 300px;
  text-align: center;
}
#ssn{
  width: 100px;
  text-align: center;
}
#city{
  text-align: center;
}
#userID{
  text-align: center;
}
#password{
  text-align: center;
  width: 181px;
}
#repassword{
  text-align: center;
}
#email{
  text-align: center;
   width: 300px;
}
#Zipcode{
  text-align: center;
  width: 138px;
}
#phone{
  text-align: center;
  width: 193px;
}
#slider {
  width: 100%;
  height: 25px;
  background-color:rgb(89, 156, 190);
  opacity: 0.7;
  transition: opacity .2s;
}
#date {
  font-family: "Lucida Console";
  color: rgb(89, 156, 190);
}
#errorfname{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errormi{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorlname{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorbirthday{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorssn{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#erroraddressone{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#erroraddresstwo{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorstate{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorcity{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorzipcode{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#erroremail{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorphone{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#erroruserid{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorpassword{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}
#errorrepassword{
  color: rgb(230, 60, 75);
  font-family: "Lucida Console";
}